<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="DerinEntities" connectionString="metadata=res://*/Model.Derin_Model.csdl|res://*/Model.Derin_Model.ssdl|res://*/Model.Derin_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=Derin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DerinEntities" connectionString="metadata=res://*/Model.Derin_Model.csdl|res://*/Model.Derin_Model.ssdl|res://*/Model.Derin_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.73.170.10;initial catalog=u8990992_Derin;persist security info=True;user id=u8990992_Derin;password=CFqz58P9HUuz85R;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>