# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

.vs/Derin
.vs/Derin/DesignTimeBuild
Derin.Business/bin
Derin.Business/obj
Derin.Common/bin
Derin.Common/obj
Derin.Data/bin
Derin.Data/obj
Derin.Web/bin
Derin.Web/obj
