@section pageLevelInlineScripts {

}
@section pageLevelStyles {

}
@section pageLevelInlineStyles {

}
@section pageLevelPlugins {


}

<div id="talentContent">
    @await Component.InvokeAsync("TalentList")
</div>


