@model TalentVM
@{
    Layout = "~/Views/Shared/_AjaxLayout.cshtml";
}
@section pageLevelInlineScripts {

}
@section pageLevelStyles {

}
@section pageLevelInlineStyles {

}
@section pageLevelPlugins {
    <script src="~/admin/talent/edit.js"></script>
    <script src="~/assets/vendors/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="fa fa-user"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @if (Model.IdTalent > 0)
                {
                    <span>@Model.Title</span>
                }
                else
                {
                    <span>Yeni Yetenek Ekle</span>
                }
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button type="button" class="btn btn-success btn-elevate btn-elevate-air btnSave"><i class="fa fa-save"></i>Kaydet</button>
                <button type="button" class="btn btn-info  btn-elevate btn-elevate-air btnReturnList"><i class="fa fa-arrow-left"></i> Listeye Dön </button>
                @if (Model.IdTalent > 0)
                {
                    <button type="button" data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="Sil" class="btn btn-danger btn-elevate btn-elevate-air btnDel" data-id="@Model.IdTalent"><i class="flaticon-delete"></i> Sil </button>
                }

            </div>
        </div>
    </div>
    <form novalidate id="submit_form" class="horizontal-form" enctype="multipart/form-data">
        <input type="hidden" asp-for="IdTalent" />
        <div class="kt-portlet__body">
            <div class="form-group row">
                <label class="col-2 col-form-label">Başlık:</label>
                <div class="col-6">
                    <input asp-for="Title" maxlength="200" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Açıklama:</label>
                <div class="col-6">
                    <textarea class="form-control" asp-for="Description" maxlength="500" style="min-height:100px; max-height:250px"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            
            <div class="form-group row">
                <label class="col-2 col-form-label"></label>
                <div class="col-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>

        </div>

        <div class="kt-portlet__foot">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <button type="button" class="btn btn-success btn-elevate btn-elevate-air btnSave"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
