@model GalleryVM
@section pageLevelInlineScripts {
    <script>
        jQuery(document).ready(function ()
        {
            $('#js-grid-mosaic').cubeportfolio({
                filters: '#js-filters-mosaic',
                loadMore: '#js-loadMore-mosaic',
                loadMoreAction: 'click',
                layoutMode: 'mosaic',
                mediaQueries: [{
                    width: 1000,
                    cols: 6
                }, {
                    width: 900,
                    cols: 5
                }, {
                    width: 800,
                    cols: 5
                }, {
                    width: 480,
                    cols: 4
                }, {
                    width: 320,
                    cols: 2
                }],
                defaultFilter: '.derin',
                animationType: 'fadeOutTop',
                gapHorizontal: 10,
                gapVertical: 10,
                gridAdjustment: 'responsive',
                caption: 'zoom',
                displayType: 'fadeIn',
                displayTypeSpeed: 100,

                // lightbox
                lightboxDelegate: '.cbp-lightbox',
                lightboxGallery: true,
                lightboxTitleSrc: 'data-title',
                lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} / {{total}}</div>',

                // singlePageInline
                singlePageInlineDelegate: '.cbp-singlePageInline',
                singlePageInlinePosition: 'below'
            });

        });
    </script>
}
@section pageLevelStyles {
    <link href="~/lib/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" />
    <link href="~/lib/cubeportfolio/css/portfolio.css" rel="stylesheet" />
}
@section pageLevelInlineStyles {
    <style>
        .thumbnailImage {
            position: relative !important;
            float: left !important;
            width: 100% !important;
            height: 176px !important;
            background-position: 50% 50% !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    </style>
}
@section pageLevelPlugins {

    <script src="~/lib/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Galeri</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================About Area =================-->
<section class="about_area p_120">
    <div class="container">
        <div class="row about_inner">
            <div class="col-lg-12">
                <div class="portfolio-content portfolio-2">
                    <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic">
                        @foreach (var item in Model.GalleryList)
                        {
                            <div class="cbp-item web-design derin">
                                <a href="@Url.Action("GetImageFilePath", "File", new { fileName = item.FileName, filePath = item.FilePath + "\\lowres", area = "Administration" })" class="cbp-caption cbp-lightbox">
                                    <div class="cbp-caption-defaultWrap">
                                        <img class="thumbnailImage" style="background-image:url('@Url.Action("GetImageFilePath", "File", new { fileName = item.FileName, filePath = item.FilePath + "\\thumbnail", area = "Administration" })');" alt="">
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End About Area =================-->
