@model ProjectVM
@{
    Layout = "~/Views/Shared/_AjaxLayout.cshtml";
}
@section pageLevelInlineScripts {
    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getTime();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/admin/project/edit.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>
}
@section pageLevelStyles {

}
@section pageLevelInlineStyles {

}
@section pageLevelPlugins {
    <script src="~/admin/project/edit.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="fa fa-tools"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @if (Model.IdProject > 0)
                {
                    <span>@Model.Title</span>
                }
                else
                {
                    <span>Yeni Proje Ekle</span>
                }
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <button type="button" class="btn btn-success btn-elevate btn-elevate-air btnSave"><i class="fa fa-save"></i>Kaydet</button>
                <button type="button" class="btn btn-info  btn-elevate btn-elevate-air btnReturnList"><i class="fa fa-arrow-left"></i> Listeye Dön </button>
                @if (Model.IdProject > 0)
                {
                    <button type="button" data-toggle="kt-tooltip" data-placement="top" title="" data-original-title="Sil" class="btn btn-danger btn-elevate btn-elevate-air btnDel" data-id="@Model.IdProject"><i class="flaticon-delete"></i> Sil </button>
                }

            </div>
        </div>
    </div>
    <form novalidate id="submit_form" class="horizontal-form" enctype="multipart/form-data">
        <input type="hidden" asp-for="IdProject" />
        <div class="kt-portlet__body">

            <div class="form-group row">
                <label class="col-2 col-form-label">Proje Adı:</label>
                <div class="col-6">
                    <input asp-for="Title" maxlength="50" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">İçerik:</label>
                <div class="col-6">
                    <textarea class="form-control" asp-for="Detail" maxlength="3000" style="min-height:100px; max-height:250px"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Proje Başlangıç Tarihi:</label>
                <div class="col-10">
                    <input class="form-control" asp-for="StartDate" type="date" id="example-date-input">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Proje Bitiş Tarihi:</label>
                <div class="col-10">
                    <input class="form-control" asp-for="EndDate" type="date" id="example-date-input">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Görsel:</label>
                <div class="col-10">
                    <label class="btn btn-twitter btn-elevate" style="margin-bottom:0px; cursor:pointer" for="customFile"><i class="fa fa-upload"></i>Fotoğraf yüklemek için tıklayınız.</label>
                    <input type="file" name="files" id="customFile" accept="image/png,image/jpg,image/jpeg">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label"></label>
                <div class="col-10">
                    <input type="hidden" asp-for="Picture" />
                    @if (Model != null && Model.Picture != null)
                    {
                        <img alt="" id="projectImage" class="img-thumbnail" src="data:image;base64,@System.Convert.ToBase64String(Model.Picture)" style="max-height:300px" />
                    }
                    else
                    {
                        <img alt="" id="projectImage" class="img-thumbnail" style="max-height:300px" />
                    }
                </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-10">
                    <button type="button" class="btn btn-success btn-elevate btn-elevate-air btnSave"><i class="fa fa-save"></i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>

